html {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    font-family: "Arial", Times, serif;
    font-size: 14px;
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

Div {
    font-family: "Arial", Times, serif;
    font-size: 14px;
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 25px;
    border-radius: 10px;
    overflow: hidden;
    table-layout: fixed;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    width: 50%;
}

.header {
    background-color: green;
    color: white;
    padding: 10px;
    text-align: center;
}

Selectclase, valor {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    box-sizing: border-box;  /* Para incluir padding dentro del ancho total */
    border: 1px solid #ccc;  /* Añadir borde al selector */
    border-radius: 10px;  /* Opcional: bordes redondeados */
    display: block;  /* Asegura que el selector se comporte como un bloque */
    margin-left: auto;  /* Centrado horizontal */
    margin-right: auto;  /* Centrado horizontal */
    margin-top: auto;
    margin-bottom: auto;
}
