body {
    font-family: "Arial", Times, serif;
    font-size: 14px;
    border-radius: 10px;
    overflow: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 25px;
    border-radius: 10px;
    overflow: hidden;
    table-layout: fixed;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    width: 50%;
}

.header {
    background-color: green;
    color: white;
    padding: 10px;
    text-align: center;
}

#Selectclase, #valor {
    width: 100%;
    max-width: 300px; /* Limitar el tamaño máximo */
    min-width: 150px; /* Limitar el tamaño mínimo */
    padding: 5px;
    font-size: 16px;
    box-sizing: border-box;  /* Para incluir padding dentro del ancho total */
    border: 1px solid #ccc;  /* Añadir borde al selector */
    border-radius: 10px;  /* Opcional: bordes redondeados */
    display: block;  /* Asegura que el selector se comporte como un bloque */
    margin-left: auto;  /* Centrado horizontal */
    margin-right: auto;  /* Centrado horizontal */
}

/* Hacer que el selector sea más accesible y con un buen espaciado */
#Selectclase:focus, #valor:focus {
    outline: none;
    border-color: #4A90E2;  /* Cambiar color de borde al enfocar */
}
