html {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    font-family: "Arial", Times, serif;
    font-size: 14px;
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

Div {
    font-family: "Arial", Times, serif;
    font-size: 14px;
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 25px;
    border-radius: 10px;
    overflow: hidden;
    table-layout: fixed;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    width: 50%;
}

.header {
    background-color: green;
    color: white;
    padding: 10px;
    text-align: center;
}

select {
    width: 100%;               /* Asegura que el selector ocupe el 100% del ancho disponible */
    padding: 10px;             /* Añadir un padding mayor para mejorar la estética */
    font-size: 16px;           /* Tamaño de fuente adecuado */
    box-sizing: border-box;    /* Incluye padding en el ancho total */
    border: 1px solid #888;    /* Bordes de color gris oscuro */
    border-radius: 12px;       /* Bordes redondeados */
    background-color: #f9f9f9; /* Fondo más suave para el selector */
    display: block;            /* Asegura que se comporta como un bloque */
    margin: 10px auto;         /* Centrado con margen superior e inferior */
    transition: border-color 0.3s ease, background-color 0.3s ease; /* Efectos suaves para cambios de estilo */
    text-align: center;        /* Centrar el texto horizontalmente */
    line-height: 1.5;          /* Centrar el texto verticalmente */
}

Selectclase:focus, #valor:focus {
    border-color: #666;        /* Cambiar el color del borde cuando se hace focus */
    background-color: #fff;    /* Fondo blanco cuando el campo está seleccionado */
}

/* Estilo específico para el selector con la clase .custom-width */
select.custom-width {
    width: 100%; /* Mantener el ancho actual antes de ser desplegado */
}

/* Estilo específico para el selector con la clase .custom-width cuando está enfocado */
select.custom-width:focus {
    width: 300px; /* Ancho fijo de 300px cuando está desplegado */
}

/* Estilos para las opciones dentro del <select> */
select option {
    text-align: center;        /* Centrar el texto horizontalmente */
}
